@font-face {
  font-family: "GT America";
  src: url("./assets/GT-America-Standard-Regular-Trial.woff2") format('woff')

}
@font-face {
  font-family: "GT America";
  src: url("./assets/GT-America-Standard-Bold-Trial.woff2") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "GT America";
  src: url("./assets/GT-America-Standard-Bold-Italic-Trial.woff2") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "GT America";
  src: url("./assets/client/assets/GT-America-Standard-Regular-Italic-Trial.woff2") format('woff');
  font-style: italic;
}

#app {
  width: 100%;
  height: 200vh;
  font-family: "GT America";
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

a {
  font-family: "GT America" ;
  text-decoration: none !important;
  color: black;
}

.button-container-1 {
  display: none;
  visibility: hidden;
}

.button-container-2 {
  display: none;
  visibility: hidden;
}

.footer-logo {
  display: none;
  visibility: hidden;
}

.footer {
  display: none;
  visibility: hidden;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: center;
  width: 5vw;
  padding-right: 20vw;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 200vh;
  margin-top: 5vh;
}

.highlight-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  height: 30vh;
}

.highlight-info #title {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#6E7A82;
  height: 5vh;
  width: 80vw;
}

.highlight-info #slogan {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: center;
  height: 10vh;
  width: 80vw;
}

.highlight-info #description {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color:#6E7A82;
  height: 10vh;
  width: 80vw;
}

.tiles-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 170vh;
  width: 90vw;
}

.tile-container {
  border-radius: 8px 8px;
  box-shadow: -5px 5px 5px #d6d5d5;
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.tile-text {
  height: 30vh;
  padding: 20px 40px 40px 40px;
}

.tile-image {
  height: 40vh;
  width: 90vw;
  object-fit: cover;
}