@font-face {
  font-family: "GT America";
  src: url("./assets/Grilli-Type-Trial-Fonts-2021-05-v2/Web/GT-America-Standard-Regular-Trial.woff2") format('woff')

}
@font-face {
  font-family: "GT America";
  src: url("./assets/GT-America-Standard-Bold-Trial.woff2") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "GT America";
  src: url("./assets/Grilli-Type-Trial-Fonts-2021-05-v2/Web/GT-America-Standard-Bold-Italic-Trial.woff2") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "GT America";
  src: url("./assets/Grilli-Type-Trial-Fonts-2021-05-v2/Web/GT-America-Standard-Regular-Italic-Trial.woff2") format('woff');
  font-style: italic;
}

#app {
  font-family: "GT America";
  background-color: #E5E5E5;
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 15vw;
}
.button-container-1 {
  width: 25vw;
  display: flex;
  justify-content: space-evenly;
}

.button-container-2 {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
}

.body-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 40vh;
  padding: 64px 24px;
}

.highlight-info h2 {
  color:#6E7A82;
  width: 25vw;
  display: flex;
  justify-content: center;
}

.highlight-info h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: center;
  width: 25vw;
  display: flex;
  justify-content: center;
}
.highlight-info h5 {
  color:#6E7A82;
  font-size: 20px;
  font-weight: 400;
  width: 25vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

 .tiles-container {
   width: 90vw;
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .tile-container {
  height: 49vh;
  width: 40vw;
  top: 16px;
  overflow: hidden;
 }

.copyright {
  font-size: larger;
}