@font-face {
  font-family: "GT America";
  src: url("./assets/GT-America-Standard-Regular-Trial.woff2") format('woff')

}
@font-face {
  font-family: "GT America";
  src: url("./assets/GT-America-Standard-Bold-Trial.woff2") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "GT America";
  src: url("./assets/GT-America-Standard-Bold-Italic-Trial.woff2") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "GT America";
  src: url("./assets/client/assets/GT-America-Standard-Regular-Italic-Trial.woff2") format('woff');
  font-style: italic;
}

.mobile-menu {
  display: none;
  visibility: hidden;
}

#app {
  width: 100%;
  height: 100%;
  font-family: "GT America";
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

a {
  font-family: "GT America" ;
  text-decoration: none !important;
  color: black;
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: center;
  width: 5vw;
  padding-right: 20vw;
}

.button-container-1 {
  width: 25vw;
  display: flex;
  justify-content: space-evenly;
}

.button-container-2 {
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
  padding-right: 5vw;
}

#sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vh;
  width: 10vw;
}

#check-offers {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #000000;
  height: 5vh;
  width: 10vw;
  border-radius: 40px
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 120vh;
  margin-bottom: 5vh;
}

.highlight-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 30vh;
}

.highlight-info #title {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#6E7A82;
  height: 10vh;
  width: 25vw;
}

.highlight-info #slogan {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: center;
  height: 10vh;
  width: 80vw;
  display: flex;
  justify-content: center;
}

.highlight-info #description {
  color:#6E7A82;
  font-size: 20px;
  font-weight: 400;
  height: 10vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.tiles-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 130vh;
  width: 90vw;
}

.tile-container {
  border-radius: 8px 8px;
  box-shadow: -5px 5px 5px #d6d5d5;
  height: 70vh;
  width: 40vw;
  top: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tile-image {
  height: 40vh;
  width: 40vw;
  object-fit: cover;
}

.tile-text {
  height: 30vh;
  padding: 20px 40px 40px 40px;
}

.tile-text p2{
  font-size: 16px;
}

.footer-logo {
  display: flex;
  align-items: center;
  height: 15vh;
  padding-left: 5vw;
  border-top: #D8DCDF solid 1px;
  border-bottom: #D8DCDF solid 1px;
}

.footer {
  display: flex;
  flex-direction: column;
  color: #6E7A82;
}

.links {
  display: flex;
  justify-content: flex-start;
}
.links-container {
  display: flex;
  height: 30vh;
}

.link-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  width: 15vw;
  padding-left: 5vw
}

.link-container span {
  font-family: "GT America";
  font-weight: bold;
  color: #6E7A82;
}

.links-list {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-evenly;
  height: 20vh;
}

.links-list a {
  color: #6E7A82;
}

.copyright {
  font-size: smaller;
  padding-left: 5vw;

}